#homepage {
    margin: 0;
    padding: 0;
}

#header {
    background-color: aquamarine;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.navbar-options {
    display: inline-block;
}
  
.navbar-options a, .active a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-options a:hover {
    background-color: #111;
}

.active a:hover {
    background-color: green;
}

.active {
    float: left;
    background-color: #04AA6D;
}

#customer-reviews {
    text-align: center;
    font-family: Garamond, serif;
    font-size: 1.875em;
}

#footer {
    background-color: #343434;
    width: 100%;
    padding-bottom: 10px;
    bottom:0px;
}

#footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#disclaimer {
    text-align: center;
    color: white;
}